<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Heroes form</title>
  </head>
  <body>
    <h1><%=@team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>

    <% @heroes.each do |hero| %>
  <div class="hero">
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
  </div><br>
<% end %>






  </body>
</html>
