<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Heroes form</title>
  </head>
  <body>
    <h1><%=@team_name %></h1>
    <h2>Team Motto: <%= @team_motto %></h2>

    <% @heroes.each do |hero| %>
      <h2>Hero Name: <%=hero[:name] %></h2>
      <li>Hero Power: <%= hero[:power]%></li>
      <li>Hero Biography: <%= hero[:biography]%></li>
    <p></p>
    <% end %>






  </body>
</html>
